@import "@unioncredit/ui/lib";

body {
  background: #1e1e1e;
}

ul {
  list-style: initial;
  padding-left: 20px;

  li {
    font-size: 12px;
    line-height: 16px;
  }
}

.crossout {
  text-decoration: line-through;
}

.logo {
  width: 126px;
  margin: 0 auto;
}

.button {
  min-height: 40px;

  &--primary {
    background: #4f46e5 !important;

    &:hover {
      background: #6366f1 !important;
    }

    &:active {
      background: #4338ca !important;
    }
  }

  &--secondary {
    background: none;
    color: white;
    border: 0px !important;

    &:hover:not(.button--selected) {
      background: rgba(0, 0, 0, 0.1) !important;
    }

    &:active:not(.button--selected) {
      background: rgba(0, 0, 0, 0.2) !important;
    }

    &.button--selected {
      background: white;
      color: black;
    }
  }

  .loading-spinner circle {
    stroke: rgba(255, 255, 255, 0.3) !important;
  }

  &[disabled="true"],
  &[disabled],
  &[disabled]:hover,
  &[disabled="true"]:hover {
    background: #404040 !important;
    color: white !important;
    opacity: 0.4 !important;
  }
}

.loading-spinner {
  circle {
    stroke: rgba(255, 255, 255, 0.1);
  }
  path {
    stroke: rgba(255, 255, 255, 0.5);
  }
}
