.Leaderboard {
  &__intro {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__link {
    color: #27272A;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 16px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__heading {
    font-family: "davinci";
    font-size: 32px !important;
  }
}