.MyStats {
  background: #262626;
  border: 1px solid #404040;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;

  .goToUnionButton svg path {
    fill: white;
  }

  &__header {
    padding-bottom: 12px;
    border-bottom: 1px solid #404040;
  }

  .button--secondary {
    background: #171717;

    &:hover:not(.button--selected) {
      background: rgba(0, 0, 0, 0.6) !important;
    }

    &:active:not(.button--selected) {
      background: rgba(0, 0, 0, 0.9) !important;
    }
  }

  &__grid {
    display: grid;
    width: 100%;
    grid-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media screen and (max-width: 611px) {
      grid-template-columns: 1fr 1fr;
    }

    &__item {
      background: #171717;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8px 16px 4px 16px;
      white-space: nowrap;

      &:nth-child(-n + 4) .heading {
        color: #818cf8;
      }

      .heading {
        color: white;
      }
    }
  }
}
