.Navigation {
  &__accountButton {
    padding: 12px 16px;
    background: #262626;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }

  @media screen and (max-width: 410px) {
    flex-direction: column !important;

    &__items {
      width: 100% !important;
      .button {
        width: 100% !important;
        margin-right: 2px;
        margin-left: 2px;
      }
    }

    &__action {
      width: 100% !important;
      margin: 0 !important;

      & .button,
      & .Navigation__accountButton {
        width: 100% !important;
        margin-top: 8px;
      }
    }
  }

  .discordButton.discordButton {
    padding-right: 16px;
    svg {
      margin: 0;
      path {
        fill: white;
      }
    }
  }
}
